<ul class="list">
    {% for item in items %}
        <li>
            <a href="?{{ other_querystring }}&{{ menu }}={{ item.id }}">{{ item.title }}</a>
            {% with item.child_items as children %}
                {% if children %}
                    <ul>
                        {% include 'tree_menu/tree_menu.html' with items=children menu=menu other_querystring=other_querystring %}
                    </ul>
                {% endif %}
            {% endwith %}
        </li>
    {% endfor %}
</ul>
